*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    
    --first: #1D9BF0;
    --second: #F0F2F5;
    --third: #1D9BF0;
    --fourth: #181818;

    /* --first: #1D9BF0;
    --second: #EFF3F4;
    --third: #0F4C75;
    --fourth: #D98326; */

    /* --first: #1F5BD3;
    --second: #EFEFEF;
    --third: #05142D;
    --fourth: #447DD8; */
}

body {
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #FFFFFF;
}

/* header------------------------------------------------------------------------------------- */
.page-wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.header .navigation.navigation-blur{
    transition: 0.25s;
    background: var(--third);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.header{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./Content-Cover-01.png');
}

/* Navigation --------------------------------------------- */
.header .navigation{
    width: 100%;
    padding: 20px;
    transition: 0.25s;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Navigate Logo----------------------------------------- */
.header .navigation .logo{
    /* width: 5%; */
    
    font-size: 25px;
    color: var(--second);
    cursor: pointer;
}

/* Navigate menu----------------------------------------- */
.header .navigation .navigat{
    margin: auto;
    list-style: none;
}

.header .navigation .navigat .nav{
    display: flex;
}

.header .navigation .navigat .nav li{
    padding: 15px;
}

.header .navigation .navigat .nav li a{
    color: var(--second);
    text-decoration: none;
    font-weight: bold;
}

.header .navigation .navigat .nav li a::after{
    content: '';
    width: 0;
    height: 2.4px;
    transition: 0.5s;
    margin: auto;
    display: block;
    background-color: var(--fourth);
}

.header .navigation .navigat .nav li a:hover::after{
    width: 100%;
}

/* Navigate Button----------------------------------------- */
.header .button-main .button{
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 15px;
    font-weight: Bold;
    color: var(--third);
    transition: 0.25s;
    
}

.header .button-main .button:hover{
    color: var(--second);
    background-color: var(--fourth);
    transition: 0.25s;
}

/* Header Tittle------------------------------------------------------------------------------ */
.header .content-header .title{
    text-align: center;
    padding: 20%;
    color: var(--second);
}

.header .content-header .title p{
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 100px;
}

.header .content-header .title{
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.header .content-header .title h1{
    font-size: 100px;
    color: var(--second);
}

.header .content-header .title i{
    color: var(--first);
}

/* Body--------------------------------------------------------------------------------------- */

/* Service --------------------------------------------------------------------------------------- */
.body-content .catalog{
    display: flex;
}

.body-content .title h1{
    font-size: 35px;
    text-align: center;
    padding: 50px 0 0 0;
    color: var(--first);
}

.body-content .catalog .img{
    margin: auto;
    width: 30%;
    padding: 3%;
    text-align: center;
}

.body-content .catalog .img h3{
    padding: 2% 0;
    /* color: var(--third); */
} 

.body-content .catalog .img img{
    width: 100%;
    transition: 0.25s;
}

.body-content .catalog .img img:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    transition: 0.25s;
}

/* Feature --------------------------------------------------------------------------------------- */
.feature-content .text-header p{
    color: var(--first);
}

.feature-content .text-header{
    text-align: center;
    font-size: 30px;
    padding: 20px 0;
}

.feature-content .feature-icon{
    width: 100%;
    align-items: center;
}

.feature-content .icon-list{
    display: flex;
    list-style: none;
}

.feature-content .icon-list .option{
    padding: 20px;
    text-align: center;
}

.feature-content .icon-list .option i{
    font-size: 80px;
    padding: 35px 0;
    color: var(--first);
}

.feature-content .feature-list{
    width: 100%;
    margin: 0 auto;
}

.feature-content .feature-image{
    display: flex;
}

.feature-content .feature-image .img{
    margin: auto;
    width: 30%;
    padding: 3%;
}

.feature-content .feature-image .img img{
    width: 100%;
    transition: 0.25s;
}

.feature-content .feature-image h3{
    /* position: relative; */
    /* bottom: 40px; */
    /* padding: 0 15px; */
    display: block;
    /* color: var(--third); */
}

.feature-content .feature-image .img img:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    transition: 0.25s;
}

/* About Us & Spec --------------------------------------------------------------------------------------- */
.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.spec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.article{
    width: 50%;
    padding: 0 50px;
    font-size: 40px;
}

.article .title p{
    font-size: 35px;
    font-weight: bold;
    color: var(--first);
}

.article p{
    font-size: 16px;
    padding: 0 0 5px 0;
}

.image{
    width: 50%;
}

.image img{
    width: 90%;
}

.button1{
    border: none;
    padding: 15px;
    font-size: 15px;
    font-weight: Bold;
    color: var(--first);
    /* background-color: var(--second); */
    /* box-shadow: 0px 0px 5px rgba(0,0,0,0.4); */
    cursor: pointer;
    transition: 0.25s;
}

.button1:hover{
    color: var(--second);
    background-color: var(--first);
    transition: 0.25s;
    box-shadow: none;
}

/* Comapny Detail------------------------------------------------------------------ */
.company-detail{
    width: 70%;
    margin: auto;
    transition: 0.25s;
    padding: 50px 0;
}

.company-detail .background{
    display: flex;
    align-items: center;
    background-color: var(--first);
}

.company-detail .article{
    width: 50%;
    text-align: left;
    padding: 0 30px;
    color: var(--second);
}

.company-detail .article h1{
    /* font-family: 'Kantumruy Pro', sans-serif; */
    font-size: 40px;
    padding: 10px 0;
}
    
.company-detail .image{
    width: 50%;
}

.company-detail .image img{
    width: 100%;
}

/* Company Contact-------------------------------------------------------------------- */
.company-contact{
    width: 70%;
    margin: auto;
    padding: 50px 0;
}

.company-contact h1{
    text-align: center;
    padding: 25px 0 0 0;
    color: var(--first);
}

.company-contact .option{
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* padding: 60px; */
}

.company-contact p{
    padding: 2px 0;
}

.company-contact h1{
    padding: 0 0 15px 0;
}
.company-contact h3{
    padding: 10px 0;
    color: var(--first);
}

/* footer-------------------------------------------------------------------------------------- */
footer{
    border-top: 1px solid #05142D;
}
footer .navigation{
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

footer .navigation a{
    text-decoration: none;
    color: var(--first);
}

footer .navigation .logo{
    display: flex;
}

footer .navigation .logo h1{
    padding: 0 5px;
    color: var(--first);
}

footer .navigation .go-top p{
    font-size: large;
}

footer .navigation .go-top i{
    font-size: 20px;
    padding: 10px;
}

@media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
}

footer .navigation .copy-right{
    display: flex;
}

footer .navigation .copy-right h4{
    padding: 0 0 0 5px;
}

/* scrollbar---------------------------------------------------------------------------------- */
/* ::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: var(--second);
    background: transparent;
} */

/* ::-webkit-scrollbar-thumb{
    background: var(--first);
    border-radius: 5px;
    scrollbar-width: none
}

::-webkit-scrollbar-thumb:hover{
    background: var(--third);
    border-radius: 5px;
    transform: 0.5s;
} */

body{
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

/* Dark Mode---------------------------------------------------------------------------- */
.dark-mode{
    background-color: #000000;
    color: var(--second);
    transition: 0.5s;
}

.dark-mode .company-detail .background{
    background-color: #16181C;
}

.dark-mode .button1{
    background-color: #16181C;
}

.dark-mode .button1:hover{
    color: var(--second);
    background-color: var(--first);
}

.dark-mode footer{
    border-top: 1px solid white;
}